twisty-player {
  width: 100%;
}

#algContainer {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.sort-btn::after {
  content: ' ';
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.sort-btn[data-dir="asc"]::after {
  content: ' ↓';
}

.sort-btn[data-dir="desc"]::after {
  content: ' ↓';
  transform: rotate(180deg);
}

[hidden] { display: none; }
