---
layout: default
---

<article>
{{ content }}
</article>

<article>
  {% for filter in page.filters %}
<details class="filter-group" name="filter" data-filter-key="{{ filter.key }}">
  <summary>{{ filter.name }}</summary>
  <button type="button" data-select-action="all">all</button>
  <button type="button" data-select-action="none">none</button>
</details>
  {% endfor %}
</article>

<article>
  {% for sort in page.sorts %}
  <button class="sort-btn" data-sort-key="{{ sort.key }}">{{ sort.name }}</button>
  {% endfor %}
  <button class="sort-btn" data-sort-key="random">randomize</button>
</article>

<div id="algContainer">
{% for alg in site.data.algorithms[page.dataset] %}
<article
  {% for col in page.dataset_columns %}
  data-{{ col }}="{{ alg[col] }}"
  {% endfor %}
  >
  <p>{{ alg.name }}</p>
<twisty-player 
    puzzle="3x3x3"
    background="none"
    tempo-scale=1.25
    experimental-setup-anchor="start"
    experimental-stickering="{{ alg.stickering }}"
    alg="{{ alg.alg }}"
    experimental-setup-alg="{{ alg.setupalg}}">
    </twisty-player>
  <code>{{ alg.alg }}</code>
</article>
{% endfor %}
</div>
