---
layout: default
---

<article>
  <h4>info</h4>
  {{ content }}
</article>

<article>
  <h4>view</h4>
  <select id="viewSelector">
    <option value="normal">normal</option>
    <option value="compact">compact</option>
    <option value="training">training</option>
  </select>
</article>

<article>
  <h4>filter</h4>
  {% for filter in page.filters %}
<details class="filter-group" name="filter" data-filter-key="{{ filter.key }}">
  <summary>{{ filter.name }}</summary>
  <button type="button" data-select-action="all">all</button>
  <button type="button" data-select-action="none">none</button>
</details>
  {% endfor %}
</article>

<article>
  <h4>sort</h4>
  {% for sort in page.sorts %}
  <button class="sort-btn" data-sort-key="{{ sort.key }}">{{ sort.name }}</button>
  {% endfor %}
  <button class="sort-btn" data-sort-key="random" id="resetTwistyBtn">randomize</button>
</article>

<div id="algContainer" data-view="normal">
{% for dataset_name in page.datasets] %}
{% for alg in site.data.algorithms[dataset_name] %}
<article
  data-alg_dataset_name="{{ dataset_name }}"
  {% for col in page.dataset_columns %}
  data-{{ col }}="{{ alg[col] }}"{% endfor %}
  >
<h4>{{ alg.name }}</h4>
{% if alg.description %}
  <p>{{ alg.description }}</p>
{% endif %}
<code>{{ alg.alg }}</code>
<twisty-player 
    id="player_{{ forloop.index }}"
    alg="{{ alg.alg }}"
    puzzle="3x3x3"
    background="none"
    tempo-scale=1.25
    {% if alg.stickering %} 
    experimental-stickering="{{ alg.stickering }}"
    {% endif %}
    {% if alg.setupalg %}
    experimental-setup-anchor="start"
    experimental-setu p-alg="{{ alg.setupalg}}"
    {% else %}
    experimental-setup-anchor="end"
    {% endif %}
    >
</twisty-player>
<twisty-alg-viewer for="player_{{ forloop.index }}"></twisty-alg-viewer>
</article>
{% endfor %}
{% endfor %}
</div>

<script>
  const players = document.querySelectorAll('#algContainer twisty-player');
  function resetTwisty() {
    players.forEach(player => {
        player.jumpToStart();
        player.cameraLatitud e = 45;
        player.cameraLongitude = 30;
    });
  };
  document.getElementById('resetTwistyBtn').addEventListener('click', resetTwisty);
</script>

<script>
  const selector = document.getElementById('viewSelector');
  const container = document.getElementById('algContainer');
  
  selector.addEventListener('change', (e) => {
    container.dataset.view = e.target.value;
  });
</script>
