---
layout: default
---

{{ content }}

{% for alg in site.data.algorithms[page.dataset] %}
<article
  {% for col in page.dataset_columns %}
  data-{{ col }}="{{ alg[col] }}"
  {% endfor %}
  >
  <p>{{ alg.name }}</p>
<twisty-player 
    puzzle="3x3x3"
    background="none"
    tempo-scale=1.25
    experimental-setup-anchor="start"
    experimental-stickering="{{ alg.stickering }}"
    alg="{{ alg.alg }}"
    experimental-setup-alg="{{ alg.setupalg}}">
    </twisty-player>
  <code>{{ alg.alg }}</code>
</article>
{% endfor %}
